@use '../abstracts' as *;

h1 {
	font-size: $fs-32;
	line-height: 1;
}

h2 {
	font-size: $fs-18;
	line-height: 1.6;
}

p {
	font-size: $fs-15;
	line-height: 1.8;
}

main {
	@include mq(61.25em) {
		padding-block: 4rem;
	}
}

body {
	display: grid;
	place-items: center;
	color: $clr-neutral-400;
	font-family: $ff-primary;
	font-weight: 700;
	background-color: $clr-neutral-100;
	background-image: url('../images/bg-bottom.svg'), url('../images/bg-top.svg');
	background-repeat: no-repeat;
	background-position: bottom left, top right;
}
