@use '../abstracts' as *;

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 3rem 2rem;
	gap: 2rem;
	border-radius: 0.5rem;

	&--neutral {
		padding: 1.5rem 2rem;
		margin-block: auto;
		background-color: #ffffff;
		// box-shadow: 0 10px 22px 0 $clr-neutral-300;

		&:first-of-type {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:last-of-type {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	&--primary {
		color: #ffffff;
		background: $clr-primary-400;

		.plan__cover {
			> * {
				border-top: 0.5px solid #ffffff;
			}

			> *:last-child {
				border-bottom: 0.5px solid #ffffff;
			}
		}
	}

	@include mq(61.25em) {
		padding: 2.25rem;
		border-radius: 0.5rem !important;
	}
}

.plan {
	&__price {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	&__cover {
		width: 100%;
		display: flex;
		flex-direction: column;

		> * {
			border-top: 0.5px solid $clr-neutral-400;
			padding-block: 0.75rem;
		}

		> *:last-child {
			border-bottom: 0.5px solid $clr-neutral-400;
		}
	}
}

.dollar {
	font-size: $fs-40;
	@include mq(20.5em) {
		font-size: 2rem;
	}
}

.price {
	font-size: $fs-72;
	line-height: 1;
	opacity: 0;
	transition: opacity 225ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

	@include mq(20.5em) {
		font-size: 3rem;
	}
}
