@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

$ff-primary: 'Montserrat', sans-serif;

$fs-72: 4.5rem;
$fs-40: 2.5rem;
$fs-32: 2rem;
$fs-18: 1.125rem;
$fs-15: 0.9375rem;
$fs-13: 0.8125rem;
